@import "../../App.scss";

.main {
    @extend .defaultStyles;
    width: 900px;
    height: 1370px;
    
    // margin-left: 55px;
    // margin-right: 55px;

    // margin-top: 20px;
    // margin-bottom: 20px;

    padding: 40px;
    padding-bottom: 0px;
}

.infoSections {
    @extend .defaultStyles;

    display: flex;
    gap: 40px;
}

.leadingSection {
    @extend .defaultStyles;
    width: 570px;
}

.trailingSection {
    @extend .defaultStyles;
    width: 294px;
}

.infoSection {
    @extend .defaultStyles;
    margin-top: 20px;
}
