@import "../../src/App.scss";



.subSectionTitle {
    @extend .subSectionTitle;

    color: $highlightedTextColor;
}

.skillsListSection {
    display: flex;
    flex-wrap: wrap;
    // gap: 10px;

    // margin-top: 10px;

    // padding: 5px;
    padding-bottom: 0px;
}
